// Colors
$blue: #0065FF;
$darkBlue: #0047B2;
$lightBlue: #1974FF;
$green: #B27700;
$yellow: #FFAA00;

$gray: #778899;
$lightGray: #B2CCE5;
$darkGray: #454F59;
$deepGray: #34404C;

// Fonts
$arimo: 'Arimo';
$regular: 400;
$raleway: 'Raleway';
